.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  .about-text {
    background-color: #cc9f5b81;
    color: white;
    font-size: 1rem;
    height: fit-content;
    border-radius: 12px;
    width: 90%;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .apod {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .source {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      background-color: #0404045c;
      height: fit-content;
      border-radius: 12px;
      width: 90%;
      margin-top: 1rem;
      padding: 0.5rem;
      &__title {
        font-size: 3rem;
        color: #cc9f5b;
        text-align: right;
        text-transform: capitalize;
      }
      &__author {
        font-size: 2.5rem;
        color: #ffffff8f;
        text-align: left;
        text-transform: capitalize;
      }
    }
  }
  .quote {
    overflow: hidden;
    white-space: nowrap;
    background-color: #0404045c;
    color: white;
    font-size: 2.5rem;
    text-overflow: ellipsis;
    height: fit-content;
    border-radius: 12px;
    width: 90%;
    padding: 1.5rem;
    height: 20rem;
    &__view {
    }
  }
}
