.card {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;

  width: 250px;
  border: 1px solid black;
  box-shadow: 1px 1px 20px 1px #d3d3d3d1;
  border-radius: 10px;
}

.card__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__img {
  padding: 5px;
  width: 250px;
  border-radius: 20px;
}

.card__field-name-value {
  padding: 5px;
}

.card__field-name,
.card__id-name {
  color: #cc9f5b;
  font-size: 0.4rem;
}

.card__field-value,
.card__favorite,
.card__id-value {
  color: white;
  font-size: 0.4rem;
  text-transform: capitalize;
}

.fa-heart {
  position: relative;
  // top: 100px;
  // right: 200px;
  font-size: 0.5rem;
  cursor: pointer;
}
