.card {
  background-color: #0404045c;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 90%;
  margin: 1rem 1rem;
  position: relative;
  &__info {
    text-align: center;
    text-decoration: none;
    color: white;
    span {
      color: #cc9f5b;
    }
  }
  &__fav {
    position: absolute;
    top: 34.18rem;
    left: 29rem;
    color: yellow;
  }
}
