.card {
  background-color: #0404045c;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white;
  width: 90%;
  margin: 1rem 1rem;
  &__info {
    text-align: center;
    span {
      color: #cc9f5b;
    }
  }
}
