.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  margin-left: 2rem;
  width: 80%;
  gap: 5rem;

  &__h2 {
  }
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  font-size: 2.2rem;

  &__p {
    font-size: 2rem;
  }
  &__p2 {
    font-size: 2rem;
  }
}
