.footer {
  color: black;
  background-color: inherit;
  padding: 0.1rem;
}

.footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
}

img {
  height: 1rem;
}
