.cardDetail {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 250px;
  border: 1px solid black;
  box-shadow: 1px 1px 20px 1px #d3d3d3d1;
  border-radius: 10px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  margin: 2rem;
  font-size: 1.5rem;

  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-content: center;
  }

  &__img {
    padding: 2px;
    width: 250px;
    border-radius: 10px;
  }

  &__field-name-value {
    padding: 1px;
  }

  &__field-name,
  &__id-name {
    color: #cc9f5b;
    font-size: 0.8rem;
  }
  &__field-value,
  &__favorite,
  &__id-value {
    color: white;
    font-size: 0.6rem;
    text-transform: capitalize;
  }

  &__id-name,
  &__id-value {
    font-size: 0.8rem;

    text-align: center;
  }
}

.fa-star {
  position: absolute;
  top: 190px;
  left: 220px;
  font-size: 1rem;
  cursor: pointer;
  color: yellow;
}
